<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title>
    <style>
        .link{
            float: right;
        }

        .size{
            font-size: 30px;
        }          
    </style>
</head>
<body>
    <div class="link">
        <a href="/friends" class="size">Home</a>
        <a href="/logout" class="size">Logout</a>
        
    </div>

    <h1>{{user.firstname}}'s Profile</h1>

    <h3>Name: {{user.firstname}}</h3>
    <h3>Email Address: {{user.email}}</h3>
</body>
</html>